body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background: #2d7be5;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 25px;
}

.navbar {
    background: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 25px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.container {
    display: flex;
    padding: 40px;
    background: #eee;
}

.column {
    flex: 1;
    padding: 20px;
}

.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
}