 body{
font-family: Arial;
background-color:#d4d3d3;
text-align:center;
padding:40px;
}
.container{
background:rgb(133, 229, 247);
padding:25px;
width:400px;
margin:auto;
border-radius:10px;
box-shadow:0px 0px 10px rgb(0, 0, 0);
}
input{
padding:8px;
width:80%;
margin-top:5px;
}
button{
padding:10px 20px;
background-color:rgb(0, 0, 0);
color:rgb(255, 254, 254);
border:none;
border-radius:5px;
cursor:pointer;
}
button:hover{
background-color:rgb(0, 0, 0);
}
#result{
margin-top:20px;
font-weight:bold;
font-size:18px;
}   
    